@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
h1,h3{
    font-family: 'Lemon', cursive;
    color:rgb(202, 141, 9);
}
h2{
    background-color: yellow;
    max-width: fit-content;
    font-family: 'Lemon', cursive;
    color:rgb(202, 141, 9);
}
header{
    text-align: center;
    background-color: yellow;
    padding:10px;
    margin: -10px;
}
div{
    padding-top:20px;
}
button{
    color:white;
    background-color: rgb(7, 116, 206);
    border-radius: 5px;
    width:75vh;
    height:25px;
    font-family: 'Lemon', cursive;
    margin-top: 10px;

}
.sec1{
    float:left;
    width:20%;
    height: 50vh;
}
.sec2{
    float:left;
    width:30%;
    padding-left: 50px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.sec3{
    float: right;
    width: 40%;
    height: 50vh;
}
 
.textArea{
    width: 75vh;
    height: 20vh;
    border-width: 1px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: bolder;
}
footer{
    background-color: yellow;
    position: fixed;
    bottom: 0;
    width: 100%; 
    height:20%;
    margin-left: -20px;
    text-align: center;
}
a{
    color:black;
}
.link{
    width:160px;
    height:60px;
}